body {
    font-family: Arial, sans-serif;
}
}

nav {
    width: 1920px;
    height: 60px;
    background: #344051;
}

.logo {
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;

}

.menu {
    float: left;
    padding-left: 432px;

}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 1920px;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title-cont {
    float: left;
    margin: 432px 0 0 404px;
    color;
    2c384a;
    text-align: center;


}

.title-cont h1 {
    font-size: 60px;
    font-weight: bold;

}

.title-cont h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #8b919c;

}

.title-cont input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 5px;
    background: none;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.Ab_me {
    width: 1920px;
    height: 710px;
    background: #fcfdfd;
    text-align: center;
    background: url(../img/boy2.png) 50% 213px/199px 206px no-repeat, url(../img/line.png) 50% 6%/72px 6px no-repeat;

}

.Ab_me h3 {
    font-size: 30px;
    margin-top: 105px;
    text-transform: uppercase;
    font-weight: bold;
}

.p1 {
    margin: 445px 597px 0px 597px;
    text-align: start;
    color: #3f495a;
}

.p2 {
    margin: 0px 597px 0px 597px;
    text-align: start;
    color: #3f495a;
}

.Ab_me input {
    margin-top: 37px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 9px 9px 9px 30px;
    background: url(../img/button.png) 12px 8px no-repeat
}

.skills {
    height: 523px;
    width: 1920px;
    background: url(../img/Line.png) 50% 160px/72px 6px no-repeat, url(../img/bgskills.jpg) center/cover no-repeat;

}

.skills h3 {
    font-size: 30px;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

}

.sk1{
    width: 200px;
    float: left;
    text-align: center;
    padding-top: 137px;
    margin-left: 435px;
}
.sk2{
    width: 200px;
    float: left;
    text-align: center;
    padding-top: 137px;
    margin-left: 85px;
}
.sk3{
    width: 200px;
    float: left;
    text-align: center;
    padding-top: 137px;
    margin-left: 85px;
    
}
.sk4{
    width: 200px;
    float: left;
    text-align: center;
    padding-top: 137px;
     margin-left: 85px;
}
.skh1{
    color: #d89558;
    font-weight: bold;
    font-size: 18px;
    padding-top: 35px;
}
.skp1{
    color: #3f495a;
    font-size: 14px;
    padding-top: 16px;
}
.cases{
         background: url(../img/Line.png) 50% 160px/72px 6px no-repeat;
}
.cases h3{
    font-size: 30px;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
}
.c1{
    text-align: center;
}
.cp1{
     font-size: 14px;
    padding-bottom: 44px;
    padding-top: 75px;
}
.c2{
    padding-left: 460px;
    padding-top: 40px;
    float: left;
        
}
.ch1{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.cp2{
    padding-bottom: 15px;
}
.cp4{
    padding-bottom: 15px;
}
.c3{
    padding-left: 675px;
}
.ch2{
    font-size: 18px;
    font-weight: bold;
    padding-top: 40px;
}
.cp3{
    text-align: start;
    padding-top: 
    padding-right: 400px;
}
.visit {
    border: 2px solid #63b5ae;
    border-radius: 5px;
    background: #63b5ae;
    padding: 13px 45px 13px 45px;
    text-transform: uppercase;
}
.cost h3{
    font-size: 30px;
    padding-top: 280px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.cost h4{
    font-size: 25px;
    margin-left: 500px;
    padding-top: 60px;
    font-weight: 400;
}
.Site{
    margin-top: 30px;
    margin-left: 500px;
    padding-top: 30px;
    margin-right: 510px;
    padding-bottom: 30px;
    border: 2px solid #eee;
    background: #eee; 
}
.Disign {
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 510px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid #eee;
    background: #eee;
}
.Adapt {
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 510px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid #eee;
    background: #eee;
}
.line {
    padding-top: 40px;
    padding-left: 500px;
    margin-right: 536px;
}
.mjcost {
    font-size: 18px;
}
.ptime {
    padding-top: 20px;
    font-weight: bold;
}
.pcost {
    padding-top: 25px;
    font-weight: bold; 
}

.zero1 {
    padding-left: 825px;
    font-size: 24px;
}    
.zero2 {
    padding-left: 880px;
    font-size: 24px;
}
.stats h3{
    font-size: 30px;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.stats {
    width: 1920px;
    height: 500px;
    margin
    background: url(../img/Line.png) 50% 160px/72px 6px no-repeat, url(../img/bgstats.jpg) center/cover no-repeat;
}
.st1 {
    margin-left: 495px;
    padding-top: 120px;
    float: left;
}
.st2{
    margin-left: 223px;
    padding-top: 120px;
    float: left;
}
.st3{
    margin-left: 223px;
    padding-top: 120px;
    float: left;
}
.st4{
    margin-left: 223px;
    padding-top: 120px;
    float: left;
}
.st1h4 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 32px;
}
.st1p{
    font-size: 18px;
}
.st2h4 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 32px;
    padding-right: 30px;
}
.st2p {
    font-size: 18px;
}
.st3h4 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 32px;
}
.st3p {
    font-size: 18px;
}
.st4h4 {
    padding-left: 13px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 32px;
}
.st4p {
    font-size: 18px;
}
.Reviews {
    background: url(../img/Line.png) 50% 160px/72px 6px no-repeat;
}
.Reviews h3 {
    font-size: 30px;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; 
}
.men {
    margin-left: 905px;
    padding-top: 96px;
}
.Reviews p {
    text-align: center;
    padding: 37px 616px 0px 616px;
}
.Reviews h6{
    text-align: center;
    padding: 37px;
}
.rewradio {
    text-align: center;
}
footer  {
    width: 1920px;
    height: 810px;
    margin-top: 92px;
    background: url(../img/Line.png) 50% 160px/72px 6px no-repeat, url(../img/bgcontacts.jpg) center/cover no-repeat;
}
.contacts h3 {
    font-size: 30px;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
} 
.p1{
    color: white;
    text-align: center;
}
.img1 {
    margin-left: 710px;
    padding-top: 47px;
}
.p2 {
    margin-left: 667px;
    color: white;
    padding-top: 10px;
}
.img2 {
    margin-left: 930px;
    padding-top: 47px;
}
.img3{
     margin-left: 1150px;
    padding-top: 47px;
}
.map h3 {
    text-align: center;
    border: 2px solid #fff;
}
.map  {
    height: 353px;
    background: url(../img/map.png) center/1920px 353px no-repeat;
}
}


    



